.customerSearchInputContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 30vw;
    position: relative;
}

.customerList {
    width: 100%;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 0 0 8px 8px;
    z-index: 99;

    color: #1f1f1f;

    display: flex;
    flex-direction: column;

    translate: (0, -10px);

    box-shadow: 0px 20px 20px 10px #1f1f1f70;

    transition: 0.5s;
    translate: (0, -10px);

    &.show {
        translate: (0);
    }

    .customerOption {
        padding: 10px;
        border-bottom: 1px solid #1f1f1f;
        cursor: pointer;
        transition: 0.5s;
    }

    .customerOption:hover {
        background-color: #1f1f1f;
        color: #f2f2f2;
    }
}
